@page "/makes/create"

@inject HttpClient _httpClient
@inject NavigationManager _navigationManager


<h3 class="card-title">Create New Make</h3>
<hr />
<br />

<FormComponent ButtonText="Create" OnValidSubmit="@CreateNewMake" Make="_make"></FormComponent>


@code {

    private readonly Make _make = new Make();

    protected async override Task OnInitializedAsync()
    {
    }

    private async Task CreateNewMake()
    {
        await _httpClient.PostAsJsonAsync(Endpoints.MakesEndpoint, _make);
        _navigationManager.NavigateTo("/makes");
    }

}