@page "/colors/create/"

@inject HttpClient _httpClient
@inject NavigationManager _navigationManager


<h3 class="card-title">Create New Color</h3>
<hr />
<br />

<FormComponent ButtonText="Create Color" Color="_color" OnValidSubmit="@CreateNewColor"></FormComponent>


@code {

    private readonly Color _color = new Color();

    private async Task CreateNewColor()
    {
        await _httpClient.PostAsJsonAsync($"{Endpoints.ColorsEndpoint}", _color);
        _navigationManager.NavigateTo("/colors/");
    }

}
