@page "/colors/edit/{id:int}"
@using CarRentalManagement.Client.Contracts

@inject IHttpRepository<Color> HttpRepository
@inject NavigationManager _navigationManager


<h3 class="card-title">Edit Color</h3>
<hr />
<br />

<FormComponent ButtonText="Edit Color" Color="_color" OnValidSubmit="@EditColor"></FormComponent>


@code {

    [Parameter] public int Id { get; set; }
    Color _color = new();

    protected override async Task OnParametersSetAsync()
    {
        _color = await HttpRepository.Get(Endpoints.ColorsEndpoint, Id);
    }

    private async Task EditColor()
    {
        await HttpRepository.Update(Endpoints.ColorsEndpoint, _color, Id);
        _navigationManager.NavigateTo("/colors");
    }
}