@page "/bookings/create"

@inject HttpClient _httpClient
@inject NavigationManager _navigationManager

<h3>CreateBooking</h3>
<hr />
<br />


<FormComponent Booking="_booking" ButtonText="Create Booking" OnValidSubmit="@CreateNewBooking"></FormComponent>


@code {

    private readonly Booking _booking = new Booking
        {
            DateOut = DateTime.Now.Date
        };

    //Values for object come from the "bind" in FormComponent.razor
    private async Task CreateNewBooking()
    {
        await _httpClient.PostAsJsonAsync(Endpoints.BookingsEndpoint, _booking);
        _navigationManager.NavigateTo("/bookings");
    }

}