@page "/vehicles/create/"

@inject HttpClient _httpClient
@inject NavigationManager _navigationManager


<h3 class="card-title">Create New Vehicle</h3>
<hr/>
<br/>

<FormComponent Vehicle="_vehicle" ButtonText="Create New Vehicle" OnValidSubmit="CreateNewVehicle"></FormComponent>


@code {

    readonly Vehicle _vehicle = new Vehicle();

    //Values for object come from the "bind" in FormComponent.razor
    private async Task CreateNewVehicle()
    {
        await _httpClient.PostAsJsonAsync(Endpoints.VehiclesEndpoint, _vehicle);
        _navigationManager.NavigateTo("/vehicles/");
    }

}
